<! DOCTYPE html>
<html>
	<head>
		<title> ctfsso </title>
	</head>
	<body>
		<h1>Welcome to ctfsso!</h1>
		<form action="/login" method="post">
			Username:<br>
			<input type="text" name="user"><br>
			Password:<br>
			<input type="password" name="pass"><br><br>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>
