<!DOCTYPE html>
<html>
	<head>
		<title> ctf-sso </title>
	</head>
	<body>
		<h1>Welcome to ctf-sso!</h1>
		<h3>A new single sign-on for CTF</h3>
		<form action="/sso/login" method="post">
			Username:<br>
			<input type="text" name="user"><br>
			Password:<br>
			<input type="password" name="pass"><br><br>
			<input type="submit" value="Log in"><br>
		</form>
	</body>
</html>
