<!DOCTYPE html>
<html>
	<head>
		<title> Login </title>
	</head>
	<body>
			Hi <%= user %>, you should be able to visit the wiki or gitblit and have them work automagically </p>
			<a href="https://tepid.science.mcgill.ca/wiki/">Visit the wiki</a><br>
			<a href="https://git.sus.mcgill.ca">Visit Gitblit</a><br>
			<p> TEPID will work once ctfsso is moved to port 443. All the required info is already in local storage. </p>
			<a href="https://tepid.science.mcgill.ca/"> Visit TEPID anyway</a><br>
		<script>
				localStorage.setItem("session", '<%= tepidJson %>')
				localStorage.setItem("sessionToken", '<%= tepidUserId %>')
		</script>
	</body>
</html>
